<!DOCTYPE HTML>
<html>
<head>
<Title>Main</Title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<form action="/logout" method="POST">
			<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
			<input type="submit" value="Sign Out"/>
		</form>
	</div>
	<div>
		<form method="POST" action="/main">
			<input type="text" name="text" placeholder="input text" /> 
			<input type="text" name="tag" placeholder="input tag" />
			<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
			<button type="submit">Add</button>

		</form>
	</div>

	<div>Message List</div>

	<form method="POST" action="/filter">
		<input type="text" name="filter" placeholder="find by tag" />
		<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
		<button type="submit">Find</button>
	</form>

	{{#messages}}
	<div>
		<b>{{id}}</b> 
		<span>{{text}}</span> 
		<i>{{tag}} </i>
		<strong>{{authorName}}</strong>
	</div>
	{{/messages }}
</body>
</html>